.app-container{
    display: flex;
}

.content{
    width: 100%;
}

.sidebar{
    min-height: 100vh;
}

.post-card{
    margin: 20px 50px;
}

.userId{
    color: rgba(21, 21, 22, 0.553);
    font-size: .8rem;
}

.post-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.create-post{
    width: 60% !important;
}

.create-post-form{
   
    margin-left: 24%;
    margin-top: 60px;
    margin-bottom: 100px;
}